<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Places</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2"></script>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo" />
            </a>
            <a id="login-link" href="{{ url_for('login') }}" class="login-button">
                <i class="ph-bold ph-identification-badge"></i>
                <span>Login</span>
            </a>
            <a id="logout-link" href="javascript:void(0);" class="login-button" style="display: none;">
                <i class="ph-bold ph-sign-out"></i>
                <span>Logout</span>
            </a>
        </nav> 
    </header>
    <main>
        <section class="available-places-section">
            <section class="filter-section">
                <h2>Available Places</h2>
                <section class="filter">
                    <label for="price-filter" class="price-filter">
                        <i class="ph ph-money" style="font-size: 16pt;"></i>
                        Filter places by Max Price
                    </label>
                    <div class="filter-options">
                        <label class="filter-option">
                            <input type="radio" name="option" value="-1">
                            All
                        </label>
                        <label class="filter-option">
                            <input type="radio" name="option" value="150">
                            $150
                        </label>
                        <label class="filter-option">
                            <input type="radio" name="option" value="200">
                            $200
                        </label>
                        <label class="filter-option">
                            <input type="radio" name="option" value="250">
                            $250
                        </label>
                        <label class="filter-option">
                            <input type="radio" name="option" value="300">
                            $300
                        </label>
                        <label class="filter-option">
                            <input type="radio" name="option" value="400">
                            $400
                        </label>
                    </div>
                </section>
            </section>
            <section class="places-list">
                <!-- Place cards will be populated dynamically -->
            </section>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 HBnB. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>