<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.2"></script>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo" />
            </a>
            <a href="{{ url_for('login') }}" class="login-button">
                <i class="ph-bold ph-identification-badge"></i>
                <span>Login</span>
            </a>
        </nav> 
    </header>
    <main>
        <div class="place-info-section">
            <section class="place-details">
                <div class="place-details-row-1">
                    <div class="place-name-price-group">
                        <h2>Beautiful Beach House</h2>
                        <h2>$150</h2>
                    </div>
                    <p>A beautiful beach house with amazing views</p>
                    <span>Hosted by: John Doe</span>
                </div>
                <div class="place-details-row-2">
                    <!-- Place details will be populated dynamically -->
                    <div class="place-amenities">
                        <div class="amenity-card">
                            <i class="ph ph-car" style="font-size: 16pt;"></i>
                            <span>Parking</span>
                        </div>
                        <div class="amenity-card">
                            <i class="ph ph-bread" style="font-size: 16pt;"></i>
                            <span>Breakfast</span>
                        </div>
                        <div class="amenity-card">
                            <i class="ph ph-wifi-high" style="font-size: 16pt;"></i>
                            <span>Internet</span>
                        </div>
                        <div class="amenity-card">
                            <i class="ph ph-wind" style="font-size: 16pt;"></i>
                            <span>Air Conditioning</span>
                        </div>
                        <div class="amenity-card">
                            <i class="ph ph-swimming-pool" style="font-size: 16pt;"></i>
                            <span>Swimming Pool</span>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="reviews">
                <!-- Reviews will be populated dynamically -->
            </section>
            <section class="add-review">
                <h3>Add a Review</h3>
                <form id="review-form">
                    <textarea id="review-text" name="review-text" rows="3" placeholder="Write your review here..." required></textarea>
                    
                    <button type="submit" class="login-button">
                        <i class="ph-bold ph-plus"></i>
                        <span>Submit</span>
                    </button>
                </form>
            </section>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 HBnB. All rights reserved.</p>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>