/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #f5f5f5;
    color: #131313;
    overflow: hidden;
}


header {
    background-color: #fff;
    color: #131313;
    padding: 2rem;
}

nav {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: #131313;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    width: 100vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131313;
    color: #fff;
    padding: 2rem;
}

.login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 2rem;
}

.login-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    color: #fff;
    border: none;
    border-radius: 8px;
    background-color: #131313;
    font-size: 14pt;
    font-weight: 500;
    cursor: pointer;
}

.login-button:hover {
    background-color: #f43f5e;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
}

.login-form-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 600;
}

input {
    padding: 1rem;
    border: none;
    border-radius: 8px;
    min-height: 3rem;
    font-size: 14pt;
}

input::placeholder {
    color: #6a6a6a;
}

.available-places-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    font-size: 32pt;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 8px;
    background-color: #fff;
}

.price-filter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter-options {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid #131313;
}

.places-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.place-card {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
}

.place-book-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 8px;
    background-color: #131313;
    font-size: 12pt;
    font-weight: 400;
    cursor: pointer;
}

.place-book-button:hover {
    background-color: #f43f5e;
}